html, body, form, .container {
  height: 100%;
}

[aria-hidden="true"] {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#message-area {
  min-height: 2.5rem;
}

.w-initial {
  width: initial;
}

.w-max-100px {
  max-width: 6.25rem;
}

select#operatorAction {
  padding-right: 2.25rem;
}

.chevon-down {
  top: .375rem;
  right: .25rem;
  fill: #0d6efd;
  pointer-events: none;
}
