html, body, form, .container {
  height: 100%;
}

[aria-hidden="true"] {
  display: none;
}

#operatorAction {
  width: initial;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#message-area {
  min-height: 2.5rem;
}
